<!-- Section: Team v.1 -->
<section class="team-section text-center my-5" style="margin: 5%">

  <!-- Section heading -->
    
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="../../assets/img/user1.png" class="rounded-circle z-depth-3"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Slimani Yahia</h5>
      <p class="text-uppercase blue-text"><strong>Chef de projet</strong></p>
      <p class="grey-text">Etudiant en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI).</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <a target="_blank" href="#"><i class="fab fa-facebook-f blue-text"> </i></a>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <a target="_blank" href="#"><i class="fab fa-linkedin blue-text"> </i></a>
        </a>
        
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <a target="_blank" href="https://web.facebook.com/profile.php?id=100004750817875"><i class="fab fa-instagram blue-text"> </i></a>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="../../assets/img/user2.png" class="rounded-circle z-depth-3"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Ghanemi Aziz</h5>
      <p class="text-uppercase blue-text"><strong>developpeur front-end</strong></p>
      <p class="grey-text">Etudiant en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <a target="_blank" href="../../assets/img/user1.png"><i class="fab fa-facebook-f blue-text"> </i></a>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <a target="_blank" href="https://web.facebook.com/ryden.bolling.1"><i class="fab fa-linkedin blue-text"> </i></a>
        </a>
      </ul>
    </div>
    <!-- Grid column -->
    
    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="../../assets/img/user3.png" class="rounded-circle z-depth-3"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Sayah Islem</h5>
      <p class="text-uppercase blue-text"><strong>developpeur back-end</strong></p>
      <p class="grey-text">Etudiant en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <a target="_blank" href="https://web.facebook.com/minato.wifaki"><i class="fab fa-facebook-f blue-text"> </i></a>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <a target="_blank" href="#"><i class="fab fa-linkedin blue-text"> </i></a>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="../../assets/img/user.png" class="rounded-circle z-depth-3"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Hellal merwane</h5>
      <p class="text-uppercase blue-text"><strong>Membre</strong></p>
      <p class="grey-text">Etudiante en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <a target="_blank" href="#"><i class="fab fa-facebook-f blue-text"> </i></a>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <a target="_blank" href="#"><i class="fab fa-linkedin blue-text"> </i></a>
        </a>
      </ul>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="row" style="margin-top: 2%">
      
    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="../../assets/img/user.png" class="rounded-circle z-depth-3"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Abidi Souad</h5>
      <p class="text-uppercase blue-text"><strong>Membre</strong></p>
      <p class="grey-text">Etudiant en informatique (option Systèmes d'Informations et Technologies) à l'Ecole Nationale Supérieure d'Informatique (ESI ex INI)</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <a target="_blank" href="#"><i class="fab fa-facebook-f blue-text"> </i></a>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <a target="_blank" href="#"><i class="fab fa-linkedin blue-text"> </i></a>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team -->