<div class="row">
    <div class="col-md-12">
        <iframe id="player_frame" frameborder="0" style="border-bottom: 2px solid #eee; border-top: 0px;" scrolling="no" src="https://docplayer.fr/docview/29/13677190/" width="100%" height="700px" allowfullscreen="" onload="this.contentWindow.postMessage('dcplr_show_between_pages', '*')"></iframe>
    </div>
    <div class="col-md-12 ml-4 mt-4 text-center">
        <h3>Consulter les réglementations APA</h3>


	<div class="body">
            <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
                    </div> <!-- cd-timeline-img -->
        
                    <div class="cd-timeline-content">
                        <h2>Règlement UE n°511/2014</h2>
                        <p>Du 16 avril 2014 relatif aux mesures concernant le respect par les utilisateurs dans l’Union du protocole de Nagoya sur l’accès aux ressources génétiques et le partage juste et équitable des avantages découlant de leur utilisation</p>
                        <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/PDF/?uri=CELEX:32014R0511&from=FR" target="_blank" class="cd-read-more">Telecharger</a>
                        <span class="cd-date">Jan 14</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
        
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-movie">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie">
                    </div> <!-- cd-timeline-img -->
        
                    <div class="cd-timeline-content">
                        <h2>Règlement d'exécution (UE) 2015/1866</h2>
                        <p>De la Commission du 13/10/2015 portant modalités d'application du règlement (UE) n° 511/2014 du Parlement européen et du Conseil relatif au registre des collections, la surveillance du respect des règles par l'utilisat</p>
                        <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/PDF/?uri=CELEX:32015R1866&from=FR" target="_blank" class="cd-read-more">Telécharger</a>
                        <span class="cd-date">Jan 18</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
        
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
                    </div> <!-- cd-timeline-img -->
        
                    <div class="cd-timeline-content">
                        <h2>Document d’orientation</h2>
                        <p>Sur le champ d’application et les obligations essentielles du règlement (UE) no 511/2014 du Parlement européen et du Conseil relatif aux mesures concernant le respect par les utilisateurs dans l’Union du protocole de Nagoya sur l’ac...</p>
                        <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/PDF/?uri=CELEX:52016XC0827(01)&from=FR" target="_blank" class="cd-read-more">Telécharger</a>
                        <span class="cd-date">Jan 24</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
        
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-location">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location">
                    </div> <!-- cd-timeline-img -->
        
                    <div class="cd-timeline-content">
                        <h2>European commission site: Niveau européen</h2>
                        <p>Access and Benefit Sharing, Legislation</p>
                        <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/PDF/?uri=CELEX:32014R0511&from=EN" target="_blank" class="cd-read-more">Telecharger</a>
                        <span class="cd-date">Feb 14</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
        
                
                
            </section> <!-- cd-timeline -->
            </div>

     </div>   
</div>