.meactive{
    color: #0b8557 !important;;
    font-weight: bold;
}
nav {
    background-color: rgba(0,0,0,.7);
    width: 101%;
}
nav a {
    text-transform: uppercase;
    color: #fff !important;
}

.dropdown-item:hover {
    background: rgb(80, 80, 80);
}