<div class="row">
        <div *ngFor="let res of resources; let i=index" class="col-sm-3 mb-3">
                <div class="card" style="width: 14rem;">
                        <img class="card-img-top" [src]="res.cycleVie" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{ res.description }}</h5>
                          <p class="card-text"> </p>
                          <div class="row d-flex justify-content-around font-weight-bold">
                                <a [routerLink]="['/admin', 'details', res.id]" class="btn btn-info">Details</a>
                                <a class="btn btn-danger" (click)="deleteRes(res.id)">Supprimer</a>
                          </div>
                        </div>
                      </div>
        </div>
</div>
