<div class="row">
    <div class="dates col-lg-2" style="margin-top: 7%;margin-left: 2%">
            <!-- menu -->
            <div id="MainMenu">
            <div class="list-group panel">
                <a routerLink="#" class="list-group-item list-group-item-success" data-parent="#MainMenu">Projet par année</a>
                <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2019</a>
                <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2018</a>
                <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2017</a>
                <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2016</a>
                <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2015</a>
                <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2014</a>
                <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2013</a>
                <a routerLink="#" class="list-group-item" data-parent="#MainMenu">2012</a>
            </div>
            </div> 
    </div>

    <div class="my-5 col-lg-8">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold my-5">Les projets de 2019</h2>
        
            
            <div class="row">
        
            <!-- Grid column -->
            <div class="col-lg-5 col-xl-4">
        
                <!-- Featured image -->
                <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                <img style="max-width:100%; height:auto" src="https://www.sillonbelge.be/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2019/05/08/node_4223/83676/public/2019/05/08/B9719516238Z.1_20190508121731_000+G6IDIBCMG.1-0.jpg?itok=iXBGBYdI" alt="Sample image">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>
        
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-lg-7 col-xl-8">
        
                <!-- Post title -->
                <h3 class="font-weight-bold mb-3"><strong>Accès et partage des avantages découlant de l’utilisation des ressources génétiques et des connaissances traditionnelles associées (APA)
                </strong></h3>
                <!-- Excerpt -->
                <p class="dark-grey-text">La réglementation d’accès et de partage des avantages découlant de l’utilisation des ressources génétiques et des connaissances traditionnelles associées (APA) organise les relations entre fournisseur et utilisateur de ressources génétiques et de connaissances traditionnelles associées. Qui concerne-t-elle en France ? Quel est son champ d’application ? Quelles sont les démarches à suivre ?</p>
                <!-- Post data -->
                <p>par <a class="font-weight-bold">ecologique-solidaire.gouv.fr</a>, 16/09/2019</p>
                <!-- Read more button -->
                <a class="btn btn-primary btn-md">Lire plus</a>
        
            </div>
            <!-- Grid column -->
        
            </div>
            <hr class="my-5">
        
             
            <div class="row">
        
                <!-- Grid column -->
                <div class="col-lg-5 col-xl-4">
            
                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                    <img style="max-width:100%; height:auto" src="http://www.ladepeche.pf/wp-content/uploads/2018/11/DG-Aromatiques.jpg" alt="Sample image" >
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>
            
                </div>
                <!-- Grid column -->
            
                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">
            
                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3"><strong>Protocole de Nagoya et sa traduction dans le droit algérien
                    </strong></h3>
                    <!-- Excerpt -->
                    <p class="dark-grey-text">Adopté en octobre 2010, le protocole de Nagoya sur l’accès aux ressources génétiques et le partage juste et équitable des avantages découlant de leur utilisation (APA) est entré en vigueur le 12 octobre 2014.</p>
                    <!-- Post data -->
                    <p>par <a class="font-weight-bold">ecologique-solidaire.gouv.fr</a>, 19/04/2018</p>
                    <!-- Read more button -->
                    <a class="btn btn-primary btn-md">Lire plus</a>
            
                </div>
                <!-- Grid column -->
            
            </div>
            <hr class="my-5">
            

            <div class="row">
        
                <!-- Grid column -->
                <div class="col-lg-5 col-xl-4">
            
                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                    <img style="max-width:100%; height:auto" src="http://www.fao.org/fileadmin/user_upload/faoweb/plant-treaty/field3.jpg" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>
            
                </div>
                <!-- Grid column -->
            
                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">
            
                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3"><strong>Mise en oeuvre du Protocole de Nagoya sur l'Accès et le Partage des Avantages
                    </strong></h3>
                    <!-- Excerpt -->
                    <p class="dark-grey-text">La France a signé le Protocole de Nagoya le 20 septembre 2011 et prévoit de le ratifier dés que possible , en tenant compte du processus législatif en cours sur le projet  de loi relatif  à la reconquête  de la biodiversité, de la nature et des paysages. . L'Union européenne l'a quant à elle déjà ratifié en date du 16 avril 2014 .Le Règlement (UE) n ° 511/2014 du Parlement européen et du Conseil du 16 avril 2014 relatif aux mesures concernant le respect par les utilisateurs dans l’Union du protocole de Nagoya sur l’accès aux ressources génétiques et le partage juste et équitable des avantages découlant de leur utilisation  avec l'ensemble des Etats membres de l’Union européenne a par ailleurs été publié au Journal Officiel de l'Union européenne le 20 mai 2014 .</p>
                    <!-- Post data -->
                    <p>par <a class="font-weight-bold">biodiv.mnhn.fr</a>, 10/11/2018</p>
                    <!-- Read more button -->
                    <a class="btn btn-primary btn-md">Lire plus</a>
            
                </div>
                <!-- Grid column -->
            </div>
            <hr class="my-5">
        
    </div>
</div>
