<ngb-tabset type="pills" *ngIf="institution">
    <ngb-tab title="Profile">
      <ng-template ngbTabContent>
        <p>Catégorie : 
            {{institution.categorie}}
        </p>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Contact">
        <ng-template ngbTabContent>
          <p>R</p>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Détail">
        <ng-template ngbTabContent>
          <p>R</p>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Informations additionnelles">
        <ng-template ngbTabContent>
          <p>R</p>
        </ng-template>
      </ngb-tab>

  </ngb-tabset>