.navbar{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white !important;
    text-align: center;
    padding-right: 0;
}
.d1{
    padding-right: 0;
    text-align: left;
}
.d2{
    background-color: white !important;
    text-align: right;
    display: flex;
    justify-content: space-between;
}
.card-body{
    padding-right: 0;
}
.hell{
    width: 100%;

}
.detail{
    border:1px solid #0b8557;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    padding: 1%
}

.btn {
    border: 1px solid #0b8557;
    outline: none;
    padding: 5px 16px;
    color: #0b8557;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
  }
  .btnn {
    margin: 1%;
  }
  
  .active, .btn:hover {
    background-color: #0b8557;
    color: white;
  }

  .meactive{
    background-color: #0b8557;
    color: white !important;;
    font-weight: bold;
}

 ul{
     margin: 0;
 }
  li {
    display: inline;
  }

.institutionbuttons{
    margin-left: 77%;
    margin-bottom: 3%;
    
}